/**
 * Colors
 */
$c-violet = #2e0049;
$c-fandango = #A92C87;
$c-razzmatazz = #e81d73;

/**
 * Default Setting
 */
$font-family = 'Roboto', 'SimHei', Helvetica, Arial, Sans-serif, Verdana, Tahoma, 'Noto Sans TC';
$font-size = 16px;
$color = #fff;
$background-image = url('../assets/images/bg_01.png');
$box-sizing = border-box
