@font-face {
  font-family 'qts'
  font-style normal
  font-weight normal
  src: url('../assets/fonts/qts.eot') format('embedded-opentype'),
    url('../assets/fonts/qts.ttf') format('truetype'),
    url('../assets/fonts/qts.woff') format('woff'),
    url('../assets/fonts/qts.svg') format('svg');
}

.ic {
  font-family 'qts'
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1
  speak none

  /* Better Font Rendering */
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

.ic_action_link:before {
    content: "\e933";
}
.ic_warning:before {
    content: "\e932";
}
.ic_youtube:before {
    content: "\e931";
}
.ic_topbar_pre:before {
    content: "\e923";
}
.ic_topbar_next:before {
    content: "\e92e";
}
.ic_topbar_top:before {
    content: "\e92f";
}
.ic_topbar_bottom:before {
    content: "\e930";
}
.ic_usb_audio:before {
    content: "\e92b";
}
.ic_hdmi_audio:before {
    content: "\e92c";
}
.ic_analog_lineout_audio:before {
    content: "\e92d";
}
.ic_topbar_triangle_normal:before {
  content: "\e920";
}
.ic_topbar_triangle_on:before {
  content: "\e921";
}
.ic_settings_multizone:before {
  content: "\e917";
}
.ic_settings_theme:before {
  content: "\e916";
}
.ic_control_applause:before {
  content: "\e90a";
}
.btn_control_boo:before {
  content: "\e90b";
}
.ic_menu_favorite:before {
  content: "\e665";
}
.ic_menu_home:before {
  content: "\e91b";
}
.ic_toolbar_multiselect_off:before {
  content: "\e65a";
}
.ic_toolbar_repeat:before {
  content: "\e919";
}
.ic_toolbar_shuffle:before {
  content: "\e91a";
}
.ic_controlbar_echo_s:before {
  content: "\e90f";
}
.ic_controlbar_echo_m:before {
  content: "\e910";
}
.ic_controlbar_echo_l:before {
  content: "\e911";
}
.ic_controlbar_plus:before {
  content: "\e913";
}
.ic_controlbar_mutes:before {
  content: "\e918";
}
.ic_controlbar_decrease:before {
  content: "\e912";
}
.ic_action_preview:before {
  content: "\e905";
}
.ic_action_requesting:before {
  content: "\e90d";
}
.ic_action_inserting:before {
  content: "\e90e";
}
.ic_action_favorite:before {
  content: "\e675";
}
.ic_action_remove:before {
  content: "\e677";
}
.ic_songlist_nowplaying:before {
  content: "\e906";
}
.ic_menu_requestinglist:before {
  content: "\e907";
}
.ic_menu_requestbook:before {
  content: "\e908";
}
.ic_menu_history:before {
  content: "\e909";
}
.btn_preview_close:before {
  content: "\e904";
}
.ic_topbar_user_default:before {
  content: "\e903";
}
.ic_info:before {
  content: "\e901";
}
.ic_qnap:before {
  content: "\e902";
}
.ic_message_control:before {
  content: "\e80d";
}
.ic_message_songaction:before {
  content: "\e80e";
}
.ic_controlbar_effect:before {
  content: "\e800";
}
.ic_controlbar_leave:before {
  content: "\e914";
}
.ic_controlbar_squrestop:before {
  content: "\e915";
}
.ic_controlbar_repeat1:before {
  content: "\e922";
}
.ic_controlbar_play:before {
  content: "\e91c";
}
.ic_controlbar_pause:before {
  content: "\e91d";
}
.ic_controlbar_stop:before {
  content: "\e801";
}
.ic_controlbar_repeat:before {
  content: "\e802";
}
.ic_controlbar_playpause:before {
  content: "\e803";
}
.ic_controlbar_key:before {
  content: "\e804";
}
.ic_controlbar_guide:before {
  content: "\e805";
}
.ic_controlbar_musicvolume:before {
  content: "\e806";
}
.ic_controlbar_micvolume:before {
  content: "\e90c";
}
.ic_controlbar_echo:before {
  content: "\e808";
}
.btn_checkbox:before {
  content: "\e60b";
}
.delete:before {
  content: "\e60c";
}
.ic_controlbar_pin:before {
  content: "\e605";
}
.btn_mainpage_backstratum:before {
  content: "\e600";
}
.btn_page_next:before {
  content: "\e601";
}
.btn_page_previous:before {
  content: "\e602";
}
.btn_songlist_typebar_sorting:before {
  content: "\e603";
}
.ic_action_enter:before {
  content: "\e609";
}
.ic_submenu_rename:before {
  content: "\e629";
}
.ic_submenu_requestbook:before {
  content: "\e62a";
}
.ic_submenu_open:before {
  content: "\e91e";
}
.ic_submenu_close:before {
  content: "\e91f";
}
.ic_toolbar_dropdown_chickbox_select_normal:before {
  content: "\e62c";
}
.ic_topbar_Search_normal:before {
  content: "\e643";
}
.ic_topbar_selected:before {
  content: "\e645";
}
.ic_topbar_refresh:before {
  content: "\e652";
}
.ic_topbar_More:before {
  content: "\e659";
}
.ic_toolbar_sort_ascending_disable:before {
  content: "\e65c";
}
.ic_toolbar_sort_az_disable:before {
  content: "\e65e";
}
.ic_controlbar_mute:before {
  content: "\e65f";
}
.ic_toolbar_sort_default_disable:before {
  content: "\e660";
}
.ic_toolbar_sort_descending_disable:before {
  content: "\e661";
}
.ic_toolbar_sort_za_disable:before {
  content: "\e662";
}
.ic_toolbar_filter:before {
  content: "\e679";
}
.shrink:before {
  content: "\e900";
}
.enlarge:before {
  content: "\e80f";
}
.ic_menu_back:before {
    content: "\e924";
}
.ic_prelisten:before {
    content: "\e926";
}
.ic_topbar_help:before {
    content: "\e925";
}
.ic_folder:before,
$ic_folder_close {
    content: "\e92a";
}
.ic_folder_open:before,
$ic_folder_open {
    content: "\e927";
}
.ic_nas:before,
$ic_nas {
    content: "\e928";
}
.ic_hd:before,
$ic_hd {
    content: "\e929";
}
